GEMINI_API_KEY= AQ.Ab8RN6LsRbCZJd_yxdtJ6qct5pV02BP13sz8F5-m-_MGOsX5wQ
VITE_APPROVED_MANAGER_EMAILS= balagowtham246@gmail.com
TWILIO_ACCOUNT_SID= ACbd10ee717953382d5ba9ee3220f6ec6f
TWILIO_AUTH_TOKEN= 9f24ef6ea4bc98addbee62f68fa85caf
TWILIO_PHONE_NUMBER= +17372508034
